### Shrutanvi Datar

In [1]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

### Exploratory Data Analysis

In [3]:
df_brand = pd.read_csv('brand_category.csv')

In [4]:
df_brand.head()

              BRAND BRAND_BELONGS_TO_CATEGORY  RECEIPTS
0  CASEYS GEN STORE          Tobacco Products   2950931
1  CASEYS GEN STORE                    Mature   2859240
2            EQUATE              Hair Removal    893268
3         PALMOLIVE               Bath & Body    542562
4              DAWN               Bath & Body    301844

In [5]:
df_brand.shape
df_brand.isna().any()

(9906, 3)

BRAND                         True
BRAND_BELONGS_TO_CATEGORY    False
RECEIPTS                     False
dtype: bool

In [6]:
df_brand['BRAND'].value_counts()
df_brand['BRAND'].nunique()
df_brand['BRAND_BELONGS_TO_CATEGORY'].nunique()
df_brand['BRAND_BELONGS_TO_CATEGORY'].value_counts()

GOYA                      29
MCALISTERS DELI           28
KROGER                    27
SIMPLE TRUTH              23
CASEYS GEN STORE          19
                          ..
BUD LIGHT CRISP            1
SANTA SILVANA IN VILLA     1
BAYERN VARIETY PACK        1
FLORIDA CANE               1
ALTITUDE PROJECT           1
Name: BRAND, Length: 8521, dtype: int64

8521

118

Beer              2143
Spirits           1850
Wine              1850
Fruit Juices       350
Malt Beverages     312
                  ...
Food Storage         1
Cosmetic Tools       1
Toothpaste           1
Popcorn              1
Sexual Health        1
Name: BRAND_BELONGS_TO_CATEGORY, Length: 118, dtype: int64

In [7]:
df_cat = pd.read_csv('categories.csv')

In [8]:
df_cat.head()

,CATEGORY_ID,PRODUCT_CATEGORY,IS_CHILD_CATEGORY_TO
0,1f7d2fa7-a1d7-4969-aaf4-1244f232c175,Red Pasta Sauce,Pasta Sauce
1,3e48a9b3-1ab2-4f2d-867d-4a30828afeab,Alfredo & White Pasta Sauce,Pasta Sauce
2,09f3decc-aa93-460d-936c-0ddf06b055a3,Cooking & Baking,Pantry
3,12a89b18-4c01-4048-94b2-0705e0a45f6b,Packaged Seafood,Pantry
4,2caa015a-ca32-4456-a086-621446238783,Feminine Hygeine,Health & Wellness

In [9]:
df_cat.shape
df_cat.isna().any()

(118, 3)

CATEGORY_ID             False
PRODUCT_CATEGORY        False
IS_CHILD_CATEGORY_TO    False
dtype: bool

In [10]:
df_cat['PRODUCT_CATEGORY'].nunique()
df_cat['IS_CHILD_CATEGORY_TO'].nunique()

118

23

In [11]:
df_off = pd.read_csv('offer_retailer.csv')

In [12]:
df_off.head()

,OFFER,RETAILER,BRAND
0,Spend $50 on a Full-Priced new Club Membership,SAMS CLUB,SAMS CLUB
1,"Beyond Meat® Plant-Based products, spend $25",NaN,BEYOND MEAT
2,Good Humor Viennetta Frozen Vanilla Cake,NaN,GOOD HUMOR
3,"Butterball, select varieties, spend $10 at Dil...",DILLONS FOOD STORE,BUTTERBALL
4,"GATORADE® Fast Twitch®, 12-ounce 12 pack, at A...",AMAZON,GATORADE

In [13]:
df_off.shape
df_off.isna().any()

(384, 3)

OFFER       False
RETAILER     True
BRAND       False
dtype: bool

In [14]:
df_off['OFFER'].nunique()
df_off['RETAILER'].nunique()
df_off['BRAND'].nunique()
df_off['BRAND'].value_counts()

376

61

144

CASEYS GENERAL STORE    26
BACK TO THE ROOTS       15
BUTTERBALL              12
WELCHS FRUIT SNACKS     10
BEN AND JERRYS           8
                        ..
5 GUM                    1
DUREX                    1
FRESH STEP               1
SARA LEE ARTESANO        1
SIMPLY ORGANIC           1
Name: BRAND, Length: 144, dtype: int64

In [15]:
#Merging the data
merged_1 = pd.merge(df_brand, df_off, on='BRAND', how='outer')
merged_1.head()
merged_1.shape

              BRAND BRAND_BELONGS_TO_CATEGORY   RECEIPTS OFFER RETAILER
0  CASEYS GEN STORE          Tobacco Products  2950931.0   NaN      NaN
1  CASEYS GEN STORE                    Mature  2859240.0   NaN      NaN
2  CASEYS GEN STORE                     Candy    18755.0   NaN      NaN
3  CASEYS GEN STORE             Energy Drinks    15351.0   NaN      NaN
4  CASEYS GEN STORE                   Cookies    12766.0   NaN      NaN

(10426, 5)

In [16]:
df_merged = pd.merge(merged_1, df_cat, left_on='BRAND_BELONGS_TO_CATEGORY', right_on='PRODUCT_CATEGORY', how='outer')
df_merged.head()
df_merged.shape

,BRAND,BRAND_BELONGS_TO_CATEGORY,RECEIPTS,OFFER,RETAILER,CATEGORY_ID,PRODUCT_CATEGORY,IS_CHILD_CATEGORY_TO
0,CASEYS GEN STORE,Tobacco Products,2950931.0,NaN,NaN,4442fa51-d4b7-4d56-ad7c-d18cfd2aff84,Tobacco Products,Mature
1,RJ REYNOLDS VAPOR,Tobacco Products,21.0,NaN,NaN,4442fa51-d4b7-4d56-ad7c-d18cfd2aff84,Tobacco Products,Mature
2,CASEYS GEN STORE,Mature,2859240.0,NaN,NaN,f81d7064-52da-4bd7-98eb-7a14be267720,Mature,Mature
3,CASEYS GEN STORE,Candy,18755.0,NaN,NaN,1e63bbb5-d0b8-4dca-9eb1-121967de8dc8,Candy,Snacks
4,STARBUCKS,Candy,1019.0,NaN,NaN,1e63bbb5-d0b8-4dca-9eb1-121967de8dc8,Candy,Snacks

(10426, 8)

### Data Cleaning

In [17]:
df_merged.drop(columns=['CATEGORY_ID', 'RECEIPTS'], inplace=True)

In [18]:
df_merged.head()

,BRAND,BRAND_BELONGS_TO_CATEGORY,OFFER,RETAILER,PRODUCT_CATEGORY,IS_CHILD_CATEGORY_TO
0,CASEYS GEN STORE,Tobacco Products,NaN,NaN,Tobacco Products,Mature
1,RJ REYNOLDS VAPOR,Tobacco Products,NaN,NaN,Tobacco Products,Mature
2,CASEYS GEN STORE,Mature,NaN,NaN,Mature,Mature
3,CASEYS GEN STORE,Candy,NaN,NaN,Candy,Snacks
4,STARBUCKS,Candy,NaN,NaN,Candy,Snacks

In [19]:
df_merged.dropna(subset=['OFFER'], inplace=True)

In [20]:
df_merged.head()
df_merged.shape

,BRAND,BRAND_BELONGS_TO_CATEGORY,OFFER,RETAILER,PRODUCT_CATEGORY,IS_CHILD_CATEGORY_TO
7,M&MS,Candy,"M&M'S®, select sizes, buy 1",NaN,Candy,Snacks
8,M&MS,Candy,"M&M'S® chocolate candies, select varieties",NaN,Candy,Snacks
9,MCALISTERS DELI,Candy,"Sign up for McAlister's Deli Rewards, tap for ...",MCALISTERS DELI,Candy,Snacks
11,SNICKERS,Candy,"SNICKERS®, select sizes, buy 1",NaN,Candy,Snacks
12,SNICKERS,Candy,"SNICKERS® chocolate candy bar, select varieties",NaN,Candy,Snacks

(826, 6)

In [21]:
df_merged.isna().any()

BRAND                        False
BRAND_BELONGS_TO_CATEGORY     True
OFFER                        False
RETAILER                      True
PRODUCT_CATEGORY              True
IS_CHILD_CATEGORY_TO          True
dtype: bool

In [22]:
df_merged['OFFER'] = df_merged.OFFER.str.replace('®', '')

In [24]:
df_merged.head()

,BRAND,BRAND_BELONGS_TO_CATEGORY,OFFER,RETAILER,PRODUCT_CATEGORY,IS_CHILD_CATEGORY_TO
7,M&MS,Candy,"M&M'S, select sizes, buy 1",NaN,Candy,Snacks
8,M&MS,Candy,"M&M'S chocolate candies, select varieties",NaN,Candy,Snacks
9,MCALISTERS DELI,Candy,"Sign up for McAlister's Deli Rewards, tap for ...",MCALISTERS DELI,Candy,Snacks
11,SNICKERS,Candy,"SNICKERS, select sizes, buy 1",NaN,Candy,Snacks
12,SNICKERS,Candy,"SNICKERS chocolate candy bar, select varieties",NaN,Candy,Snacks

In [25]:
df_merged.isna().any()

BRAND                        False
BRAND_BELONGS_TO_CATEGORY     True
OFFER                        False
RETAILER                      True
PRODUCT_CATEGORY              True
IS_CHILD_CATEGORY_TO          True
dtype: bool

In [26]:
df_merged.fillna(value='None', inplace=True)

In [27]:
df_merged.isna().any()

BRAND                        False
BRAND_BELONGS_TO_CATEGORY    False
OFFER                        False
RETAILER                     False
PRODUCT_CATEGORY             False
IS_CHILD_CATEGORY_TO         False
dtype: bool

## Model Creation

### Searching for just offers column

In [30]:
df_merged['OFFER'] = df_merged['OFFER'].apply(lambda x: x.lower().strip())

In [31]:
# Vectorization using TF-IDF
vectorizer = TfidfVectorizer(stop_words="english")
offer_vectors = vectorizer.fit_transform(df_merged["OFFER"])

# Step 3: Model Building
# Choose a user query
user_query = "Bakery"

# Vectorize the user query
user_query_vector = vectorizer.transform([user_query])

# Calculate cosine similarity
similarities = cosine_similarity(user_query_vector, offer_vectors).flatten()

# Add similarity scores to the dataframe
df_merged["SIMILARITY_SCORE"] = similarities

# Step 4: Deployment
# Display relevant offers and scores
result_df = df_merged.sort_values(by="SIMILARITY_SCORE", ascending=False)[["OFFER", "RETAILER", "BRAND", "SIMILARITY_SCORE"]]
print(result_df.head())

                                                   OFFER  \
633    fresh bakery products at casey's, select varie...
10199  fresh bakery products at casey's, select varie...
625      fresh bakery item, select varieties, at casey's
10203   fresh bakery items, select varieties, at casey's
10191    fresh bakery item, select varieties, at casey's

                   RETAILER                 BRAND  SIMILARITY_SCORE
633    CASEYS GENERAL STORE  CASEYS GENERAL STORE          0.596828
10199  CASEYS GENERAL STORE  CASEYS GENERAL STORE          0.596828
625    CASEYS GENERAL STORE  CASEYS GENERAL STORE          0.534305
10203  CASEYS GENERAL STORE  CASEYS GENERAL STORE          0.534305
10191  CASEYS GENERAL STORE  CASEYS GENERAL STORE          0.534305

### Searching for all the columns

In [32]:
# Vectorization using TF-IDF
vectorizer = TfidfVectorizer(stop_words="english")
offer_vectors = vectorizer.fit_transform(df_merged["OFFER"])

#### Diapers

In [41]:
# Step 3: Model Building
# Choose a user query
user_query = "Diaper"

# Vectorize the user query
user_query_vector = vectorizer.transform([user_query])

# Calculate cosine similarity for each column
similarity_dict = {}
columns_to_search = ["BRAND", "BRAND_BELONGS_TO_CATEGORY", "OFFER", "RETAILER", "PRODUCT_CATEGORY", "IS_CHILD_CATEGORY_TO"]

for column in columns_to_search:
    # Vectorize the column text
    column_text = df_merged[column].apply(lambda x: " ".join(str(x).lower().split()))
    column_vector = vectorizer.transform(column_text)

    # Calculate cosine similarity
    similarities = cosine_similarity(user_query_vector, column_vector).flatten()
    similarity_dict[column] = similarities

In [42]:
# Aggregate similarity scores across all columns
df_merged["OVERALL_SIMILARITY_SCORE"] = sum(similarity_dict.values())

# Display the results
result_df = df_merged.sort_values(by="OVERALL_SIMILARITY_SCORE", ascending=False)
print(result_df[["OFFER", "OVERALL_SIMILARITY_SCORE"]].head())

                                                  OFFER  \
7                            m&m's, select sizes, buy 1
9451                     goya adobo seasoning, 8 ounce+
9435   hellmann's | best foods vegan dressing or spread
9437  any general mills™ products, buy 2\ngood rewar...
9438  general mills™ products, select brands, spend $35

      OVERALL_SIMILARITY_SCORE
7                          0.0
9451                       0.0
9435                       0.0
9437                       0.0
9438                       0.0

#### Huggies

In [45]:
# Step 3: Model Building
# Choose a user query
user_query = "Huggies"

# Vectorize the user query
user_query_vector = vectorizer.transform([user_query])

# Calculate cosine similarity for each column
similarity_dict = {}
columns_to_search = ["BRAND", "BRAND_BELONGS_TO_CATEGORY", "OFFER", "RETAILER", "PRODUCT_CATEGORY", "IS_CHILD_CATEGORY_TO"]

for column in columns_to_search:
    # Vectorize the column text
    column_text = df_merged[column].apply(lambda x: " ".join(str(x).lower().split()))
    column_vector = vectorizer.transform(column_text)

    # Calculate cosine similarity
    similarities = cosine_similarity(user_query_vector, column_vector).flatten()
    similarity_dict[column] = similarities

In [46]:
# Aggregate similarity scores across all columns
df_merged["OVERALL_SIMILARITY_SCORE"] = sum(similarity_dict.values())

# Display the results
result_df = df_merged.sort_values(by="OVERALL_SIMILARITY_SCORE", ascending=False)
print(result_df[["OFFER", "OVERALL_SIMILARITY_SCORE"]].head())

                                                  OFFER  \
7                            m&m's, select sizes, buy 1
9451                     goya adobo seasoning, 8 ounce+
9435   hellmann's | best foods vegan dressing or spread
9437  any general mills™ products, buy 2\ngood rewar...
9438  general mills™ products, select brands, spend $35

      OVERALL_SIMILARITY_SCORE
7                          0.0
9451                       0.0
9435                       0.0
9437                       0.0
9438                       0.0

#### Target

In [47]:
# Step 3: Model Building
# Choose a user query
user_query = "Target"

# Vectorize the user query
user_query_vector = vectorizer.transform([user_query])

# Calculate cosine similarity for each column
similarity_dict = {}
columns_to_search = ["BRAND", "BRAND_BELONGS_TO_CATEGORY", "OFFER", "RETAILER", "PRODUCT_CATEGORY", "IS_CHILD_CATEGORY_TO"]

for column in columns_to_search:
    # Vectorize the column text
    column_text = df_merged[column].apply(lambda x: " ".join(str(x).lower().split()))
    column_vector = vectorizer.transform(column_text)

    # Calculate cosine similarity
    similarities = cosine_similarity(user_query_vector, column_vector).flatten()
    similarity_dict[column] = similarities

In [48]:
# Aggregate similarity scores across all columns
df_merged["OVERALL_SIMILARITY_SCORE"] = sum(similarity_dict.values())

# Display the results
result_df = df_merged.sort_values(by="OVERALL_SIMILARITY_SCORE", ascending=False)
print(result_df[["OFFER", "OVERALL_SIMILARITY_SCORE"]].head())

                                            OFFER  OVERALL_SIMILARITY_SCORE
10417                            arber, at target                  1.540476
4843   dove hand wash, select varieties at target                  1.390421
8709   dove hand wash, select varieties at target                  1.390421
3833   dove hand wash, select varieties at target                  1.390421
8908   dove hand wash, select varieties at target                  1.390421